<div class="padder">      
	<div class="streamline b-l b-info m-l-lg m-b padder-v">
		<!-- <div class="m-l-lg">
			<a class="pull-left thumb-sm avatar">
			  <img src="images/a5.jpg" alt="...">
			</a>          
			<div class="m-l-xxl panel b-a">
			  <div class="panel-heading pos-rlt">
				<span class="arrow left pull-up"></span>
				<span class="text-muted m-l-sm pull-right">
				  10m ago
				</span>
				<a href="">大张李</a>
				希望你能每天都快乐                         
			  </div>
			</div>
	  	</div>
	  	<div class="m-l-lg">
			<a class="pull-left thumb-sm avatar">
			  <img src="images/a1.jpg" alt="...">
			</a>          
			<div class="m-l-xxl panel b-a">
			  <div class="panel-heading pos-rlt">
				<span class="arrow left pull-up"></span>
				<span class="text-muted m-l-sm pull-right">
				  20m ago
				</span>
				<a href="">小王</a>
				我只是从这里路过......                         
			  </div>
			</div>
	  	</div>
	  	<div class="m-l-lg">
			<a class="pull-left thumb-sm avatar">
			  <img src="images/a2.jpg" alt="...">
			</a>          
			<div class="m-l-xxl panel b-a">
			  <div class="panel-heading pos-rlt">
				<span class="arrow left pull-up"></span>
				<span class="text-muted m-l-sm pull-right">
				  30m ago
				</span>
				<a href="">张琳</a>
				这世界上的很多事，有时候和我们眼睛看到的不一样。很多时候要我们慢慢地体会才会知道。我们不能急着看结果，就像种下一棵小花，你要耐心地等它破土发芽，慢慢长大，才能看到它开出美丽的花。尘世间的事也一样，要在时间里发酵，岁月里沉香，人生那些百思不得其解的事情，到后来时间会一一给你答案。岁月有时候特别用心良苦，它时常会给你很多磨难，其实它是想让你变得更好。                        
			  </div>
			</div>
	  	</div>
	  	<div class="m-l-lg">
			<a class="pull-left thumb-sm avatar">
			  <img src="images/a3.jpg" alt="...">
			</a>          
			<div class="m-l-xxl panel b-a">
			  <div class="panel-heading pos-rlt">
				<span class="arrow left pull-up"></span>
				<span class="text-muted m-l-sm pull-right">
				  40m ago
				</span>
				<a href="">李小明</a>
				孩子的时候，我们简单地把人划分为好人或坏人。只是后来长大了，知道了，好人没有你想象的那么好，坏人也没有你想象的那么坏。正如，外表坚强的人，也许内心很脆弱，而外表柔弱的人，却有着一颗强韧的心。                       
			  </div>
			</div>
	  	</div> -->
	  	<div class="list_1_">
						<ul>
						<li class="cclljj"><a href="content2.html" class="list_1">魔术师：这场之后感觉会抢七</a></li>
						<li class="cclljj"><a href="list.html"  class="list_1">萨克雷“炫富”：半头牛塞满整个冰箱</a></li>
						<li class="cclljj"><a href="list.html"  class="list_1">Mermuys将加盟沃顿在湖人的教练组？</a></li>
						<li class="cclljj"><a href="list.html"  class="list_1">魔术师要求湖人移除其荣誉副总裁的称号</a></li>
						<li class="cclljj"><a href="list.html"  class="list_1">希尔顿：正在和科比一起进行训练</a></li>
						<li class="cclljj"><a href="list.html"  class="list_1">尼克-杨评G4：传球让我生气</a></li>
						<li class="cclljj"><a href="list.html"  class="list_1">至少四队为巴恩斯开2千万年薪？</a></li>
						<li class="cclljj"><a href="list.html"  class="list_1">魔术师：骑士想夺冠，休赛期得有大动作</a></li>
						<li class="cclljj"><a href="content.html" class="list_1">湖人取消魔术师“名誉副总裁”职位</a></li>
						<li class="cclljj"><a href="content.html" class="list_1">英格拉姆参加试训：湖人就像一个大家庭</a></li>
						<li class="cclljj"><a href="content.html" class="list_1">禅师：曾告诫湖人选波津 他很有竞争力</a></li>
						<li class="cclljj"><a href="content.html" class="list_1">慈世平自爆曾在球场不慎打断乔丹肋骨</a></li>
						<li class="cclljj"><a href="content.html" class="list_1">拉塞尔：很高兴沃顿执教 科比也赞赏他</a></li>
						<li class="cclljj"><a href="content.html" class="list_1">科比：2K是偶像级品牌 加入其中感觉幸福</a></li>
						<li class="cclljj"><a href="content.html" class="list_1">拉塞尔献身大学校园 与球迷共同观看NBA总决赛</a></li>
						<li class="cclljj"><a href="content.html" class="list_1">珍妮·巴斯：禅师不会离开尼克斯加盟湖人</a></li>
						<li class="cclljj"><a href="content.html" class="list_1">禅师：曾告诫湖人选波津 他很有竞争力</a></li>
						<li class="cclljj"><a href="content.html" class="list_1">慈世平自爆曾在球场不慎打断乔丹肋骨</a></li>
						<li class="cclljj"><a href="content.html" class="list_1">拉塞尔：很高兴沃顿执教 科比也赞赏他</a></li>
						<li class="cclljj"><a href="content.html" class="list_1">科比：2K是偶像级品牌 加入其中感觉幸福</a></li>
						<li class="cclljj"><a href="content.html" class="list_1">拉塞尔献身大学校园 与球迷共同观看NBA总决赛</a></li>
						<li class="cclljj"><a href="content.html" class="list_1">珍妮·巴斯：禅师不会离开尼克斯加盟湖人</a></li>
						</ul>
					</div>
	</div>
</div>